h1 {
    text-align: center;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2em;
    padding: 0px 10px;
}

input {
    width: 100%;
    color: green;
}

input:hover {
    color: red;
}

::placeholder {
    color: green;
}

button {
    color: green;
}

button:hover {
    color: red;
}